.teamWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-top: 3vh;
}

.teamWrapper h1 {
    color: #ad58ff;
    margin-bottom: 20px;
}

.teamBodyWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamBgLineWrapper {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 280px;
    z-index: -1;
}

.teamBgLineWrapper > img {
    width: 100%;
}

.teamMembersDetailsWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px; /* Adjust as needed */
    padding: 20px;
}

.team {
    height: 20rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.teamImageIndividual {
    height: 15rem;
    object-fit: contain;
    width: 15rem;
    border-radius: 50%;
}

.teamNameDesignation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamMemberName {
    color: #000000;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.teamMemberDesignation {
    color: #ad58ff;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}